<table>
<% @title_all.each do |titles| %>
  <tr>
	  <td><a href="./title_id/<%= titles.values[0] %>"><img src="./image/<%= titles.values[0] %>.png"></a></td>
	  <td><p> <a href="./title_id/<%= titles.values[0] %>"><%= titles.values[2] %></a> </p></td>
	  <td><%= titles.values[3] %></td>
  </tr>
<% end %>
</table>
